sudo: required
services:
  - docker

before_install:
  - docker build -t nicholaspalmer/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true nicholaspalmer/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-ap-southeast-2-266256200350"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
edge: true # opt in v2